@*<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">QConsole</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @Html.IsActiveController("Session")">
                    <a class="nav-link" asp-controller="Session" asp-action="List">Сессии <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item @Html.IsActiveController("User")">
                    <a class="nav-link" asp-controller="User" asp-action="List">Пользователи</a>
                </li>
            </ul>
        </div>
    </nav>*@

<nav id="navbar" class="navbar navbar-dark navbar-slide fixed-top bg-dark flex-md-nowrap p-0 shadow">


    <div class="navbar-brand col-5 col-sm-3 col-md-3 col-lg-2 mr-0">
        @*<a role="button" class="text-white p-1" onclick="openNav()"><i class="fa fa-bars fa-lg"></i></a>*@
        <a role="button" id="sidebarCollapse" class="text-white p-1 d-md-none"><i class="fa fa-bars fa-lg small"></i></a>
        <a class="navbar-brand-title" href="/">QConsole</a>
    </div>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="form-inline">
                    <label class="text-info mr-2">@User?.Identity?.Name</label>
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">
                        <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                        <span id="quittext">Выйти</span>
                    </a>
                </div>
            }
        </li>
    </ul>
</nav>


<script>
    /*
    slide navbar with scrolling
    */
    if (window.matchMedia('(max-width: 768px)').matches) {
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-48px";
            }
            prevScrollpos = currentScrollPos;
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#dismissSidebar, .overlay').on('click', function () {
            // hide sidebar
            $('#mainSidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#mainSidebar').addClass('active');
            $('.overlay').addClass('active');
        });
    });
</script>

