@model User

<td><a asp-action="EditUser" asp-controller="User" asp-route-userid=@Model.Usesysid>@Model.Usename</a></td>
<td>@Model.Descript</td>
<td>@Model.Usesuper</td>
<td>@Model.Isrole</td>
<td>
    <div>
        <a asp-action="EditUser" asp-controller="User" asp-route-userid=@Model.Usesysid class="btn-sm btn-outline-info">
            <i class="fas fa-pen"></i>
        </a>
        |
        <a asp-action="DeleteUser" asp-controller="User" asp-route-userid=@Model.Usesysid class="btn-outline-danger btn-sm" onclick="return confirm('Подтвердите удаление');">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</td>

