@model GrantViewModel
@*Modal placeholder*@
<div id="modal-placeholder"></div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div id="DetailsSplitter" class="splitter">

    <div id="loading_grants" class="loading_grants"></div>


    <div id="UsersTable" class="firstSplitter">
        <div class="card-header">
            <h6>Члены группы:</h6>
        </div>
        @Html.Partial("UsersOfGroupPartial", @Model)
    </div>

    <div id="SeparatorRights" class="separator bg-light"></div>

    <div id="RightsTable" class="secondSplitter">
        @Html.Partial("EditGroupDetailsPartial", @Model)
    </div>
</div>

<script src="~/js/splitter.js"></script>
<script>
    splitter("UsersTable", "RightsTable", "SeparatorRights", "DetailsSplitter", true, "H");
</script>