@model IEnumerable<User>


<div class="text-center">
    <h5>Группы пользователей</h5>
</div>



<div class="table-responsive">
    <table class="table table-striped table-sm table-hover text-nowrap ">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Роль</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @{ int rowNumber = 0;}
            @foreach (var p in Model)
            {
            <tr>
                <td>@(rowNumber += 1)</td>
                <td><a asp-action="EditGroup" asp-controller="Grant" asp-route-rolename=@p.Usename asp-route-userid=@p.Usesysid>@p.Usename</a></td>
                <td>@p.Descript</td>
            </tr>
    }
        </tbody>
    </table>
</div>