@*Modal placeholder*@
<div id="modal-placeholder"></div>

<div class="card-header">
    <h5>Слои</h5>
</div>
<div id="layerlist">
</div>

<hr />
<div asp-validation-summary="All" class="text-danger px-5"></div>
<br />

<div id="dictlist">
</div>



<script>
    function loadLayers() {
        $.ajax(
            {
                type: "GET",
                url: 'Layer/GetLayersPartial',
                success: function (returndata) {
                    $('#layerlist').html(returndata);
                },
            });
    };
    loadLayers();
</script>

<script>
    function loadDicts() {
        $.ajax(
            {
                type: "GET",
                url: 'Layer/GetDictsPartial',
                success: function (returndata) {
                    $('#dictlist').html(returndata);
                },
            });
    };
    loadDicts();
</script>

<script type="text/javascript">
    var placeholderElement = $('#modal-placeholder');
    placeholderElement.on('click', '[data-saveedits="modal"]', function (event) {
        event.preventDefault();

        var form = $(this).parents('.modal').find('form');
        var actionUrl = form.attr('action');
        var dataToSend = form.serialize();

        $.post(actionUrl, dataToSend).done(function (data) {
            console.log(data);
            if (data.status == "ok") {
                placeholderElement.find('.modal').modal('hide');
                loadLayers();
                loadDicts();
            }
            else {
                var newBody = data.error;
                placeholderElement.find('.modal-body').replaceWith(newBody);
            }


        });
    });
</script>



@section scripts{

}