@model LayerViewModel


<div class="text-center">
    <h5>Слои</h5>
</div>

<div>

    @Html.Partial("LayerSummary", Model.Layers)

    <h5>Справочники</h5>
    <a asp-action="DictListManage" class="nav-link">Управление справочниками</a>

    @Html.Partial("LayerSummary", Model.Dictionaries)


</div>