@model LayerViewModel

<div class="card-header">
    <h5>Слои</h5>
</div>
<div id="layerlist">
   @* @Html.Partial("LayerSummary", Model.Layers)*@
</div>

<hr />
<div asp-validation-summary="All" class="text-danger px-5"></div>
<br />



<div id="dictlist">
    @* @Html.Partial("LayerSummary", Model.Dictionaries)*@
</div>


<script>
    function loadLayers() {
        $.ajax(
            {
                type: "GET",
                url: 'Layer/GetLayersPartial',
                success: function (returndata) {
                    $('#layerlist').html(returndata);
                },
            });
    };
    loadLayers();
</script>

<script>
    function loadDicts() {
        $.ajax(
            {
                type: "GET",
                url: 'Layer/GetDictsPartial',
                success: function (returndata) {
                    $('#dictlist').html(returndata);
                },
            });
    };
    loadDicts();
</script>

