.charts {
    /*height: calc(100vh - 130px);*/
    width:100%;
    position: relative;
}

.chart-year-container {
    height: calc(100vh - 80px);
    position: relative;
    margin-bottom: 10px;
}

.charts-bottom-part {
    position: relative;
    display:flex;
}


.chart-inserts-container {
    position: relative;
    /*float: right;
    width: 50%;*/
    /*height: calc(100vh - 80px);*/
    min-height: 300px;
}

.chart-operations-container {
    position: relative;
    /*float: left;
    width: 50%;*/
    min-height: 300px;
}

.charts > .year-dates {
    /*max-width: 400px;*/
    margin-left: 30px;
}

.year-dates > #datefrom {
    min-width: 150px;
}

.year-dates > #dateto {
    min-width: 150px;
}

