@model string
    <div class="card-header bg-primary text-white"><h4>Создание группы</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="card-body">
        <div class="form-group">
            <label for="name">Имя роли</label>
            <input name="name" class="form-control" />
        </div>
    <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>