<link rel="stylesheet" href="~/css/Stat.css" asp-append-version="false" />
<script src="~/lib/Chart.js/Chart.min.js" type="text/javascript"></script>

<div class="charts">
    <div class="year-dates">
        <div class="input-group input-group-sm">
            <input id="datefrom" type="month" class="form-control form-control-sm" style="min-width: 150px; max-width: 200px"
                   value=@DateTime.Today.AddMonths(-11).ToString("yyyy-MM") aria-label="Default" aria-describedby="inputGroup-sizing-sm">
            <input id="dateto" type="month" class="form-control form-control-sm" style="min-width: 150px; max-width: 200px"
                   value=@DateTime.Today.ToString("yyyy-MM") aria-label="Default" aria-describedby="inputGroup-sizing-sm">
            <button id="refresh_date_button" class="btn btn-outline-dark btn-sm mr-4" title="Применить"><i class="fa fa-sync-alt" aria-hidden="true"></i></button>
            <button id="refresh_year_button" class="btn btn-outline-dark btn-sm mr-1">12 месяцев</button>
            <button id="refresh_cur_year_button" class="btn btn-outline-dark btn-sm">Текущий год</button>
        </div>
    </div>
    <div class="chart-year-container">
        <div id="yearChartDiv" style="height:100%">

        </div>
        <div id="loading_year" class="loading"></div>
    </div>

    @*<div class="charts-bottom-part">*@
        <div class="chart-operations-container">
            <div id="operationsChartDiv">

            </div>
            <div id="loading_operations" class="loading"></div>
        </div>
        <div class="chart-inserts-container">
            <div id="insertsChartDiv" style="height:100%">

            </div>
            <div id="loading_inserts" class="loading"></div>
        </div>
    @*</div>*@
</div>


<script>
    refreshCharts();    

    function refreshCharts() {
        LoadYearData();
        LoadOperationsData();
        LoadInsertsData();
    }

    function GetDates() {
        var datefrom = $('#datefrom').val()
        if (datefrom.length <= 0) {
            var d = new Date();
            datefrom = d.getFullYear() + "-" + (d.getMonth() + 1).toString().padStart(2, '0');
        }

        var dateto = $('#dateto').val();
        if (dateto.length <= 0) {
            var d = new Date();
            dateto = d.getFullYear() + "-" + (d.getMonth() + 1).toString().padStart(2, '0');
        }
        return [datefrom, dateto];
    }

    function LoadYearData() {

        var [datefrom, dateto] = GetDates();

        var url = 'Stat/GetYearStatDataCJ';
        $.ajax({
            type: "GET",
            url: url,
            data: { datefrom: datefrom, dateto: dateto },
            beforeSend: function () {$("#loading_year").show();},
            complete: function () {$("#loading_year").hide();},
            success: function (returndata) {
                $('#yearChartDiv').html(returndata);
            }
        });
    }

    function LoadOperationsData() {
        var [datefrom, dateto] = GetDates();

        var url = 'Stat/GetOperationsCount';
        $.ajax({
            type: "GET",
            url: url,
            data: { datefrom: datefrom, dateto: dateto },
            beforeSend: function () {$("#loading_operations").show();},
            complete: function () {$("#loading_operations").hide();},
            success: function (returndata) {
                $('#operationsChartDiv').html(returndata);
            }
        });
    }

    function LoadInsertsData() {
        var [datefrom, dateto] = GetDates();

        var url = 'Stat/GetInsertsCount';
        $.ajax({
            type: "GET",
            url: url,
            data: { datefrom: datefrom, dateto: dateto },
            beforeSend: function () {$("#loading_inserts").show();},
            complete: function () {$("#loading_inserts").hide();},
            success: function (returndata) {
                $('#insertsChartDiv').html(returndata);
            }
        });
    }

    $('#refresh_date_button').on('click', function () {
        refreshCharts();
    })

    $('#refresh_year_button').on('click', function () {
        var d = new Date();
        $('#dateto').val(d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, '0'));
        d.setMonth(d.getMonth() - 11);
        $('#datefrom').val(d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, '0'));
        refreshCharts();
    })

    $('#refresh_cur_year_button').on('click', function () {
        var d = new Date();
        $('#dateto').val(d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, '0'));
        $('#datefrom').val(d.getFullYear() + '-01');
        refreshCharts();
    })
</script>